body {
  /*background-image: url('/images/background.jpg');*/
  background: #2A7B9B;
background: radial-gradient(circle,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
 // background-size: cover;
 //background-position: center;
 // background-repeat: no-repeat;
}

html{
  font-family: "Ubuntu", sans-serif;
  font-size:16px;
}

h1{
  font-size: 2rem;
  font-weight: 500;
} 

.hidden {
  display: none;
}