.header {
  max-width: 1100px;
  width: 90%;
  margin: 45px auto 35px auto;
  text-align: left;
  &__title{
    font-size: 2rem;
    color: #ffffff; 
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  }
} 

.main {
  max-width: 1100px;
  width: 90%;
  margin: auto;
}

.design {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
  gap: 40px;
   @media all and (max-width: 800px) {
      flex-direction: column;
      gap: 0;
    }
 
  &__form{
    width: 60%;
    @media all and (max-width: 800px) {
      width: 100%;
    }
  }
  &__card{
    width: 40%;
    @media all and (max-width: 800px) {
      width: 100%;
    }
  }
}




.cards {
  max-width: 1100px;
  width: 100%;
  display: block;
  margin: 25px auto 15px auto;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.35) 20px 20px 50px 20px;  
  &__title {
    color: #ffffff;
    text-shadow: 1px 1px 4px #1c1c1c41;
    padding: 1rem 1rem 0.8rem 1rem;
    font-size: 1.2rem;
  }

  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0 16px 16px 16px;
    max-width: 900px;
  }
  &__li {
    width: 250px;
    height: 320px;
  }
  &__bt-delete {
    color: #ffffff;
    padding: 0 16px 26px 16px;
    //display: block;
  }
  &__span {
    display: block;
    height: 25px;
  }
}

.render-card {
  transform: scale(0.7);
  transform-origin: top left;
}


.footer {
    color: #ffffff;
    max-width: 1100px;
    margin: 20px auto 40px auto;
    text-align: right;
    &__text {
      color: #f5f5f5;
      opacity: 0.7;
      font-size: 0.9rem;
    }
  }