.main {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__text {
  color: #f5f5f5;
  opacity: 0.7;
  font-size: 0.9rem;
}
