

.design {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
  gap: 40px;
   @media all and (max-width: 800px) {
      flex-direction: column;
      gap: 0;
    }
 
  &__form {
    width: 60%;
    @media all and (max-width: 800px) {
      width: 100%;
    }
  }
  &__card {
    width: 40%;
    @media all and (max-width: 800px) {
      width: 100%;
    }
  }
}




.cards {
  max-width: 1100px;
  width: 100%;
  display: block;
  margin: 25px auto 15px auto;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.35) 20px 20px 50px 20px;  
  &__title {
    color: #ffffff;
    text-shadow: 1px 1px 4px #1c1c1c41;
    padding: 1rem 1rem 0.8rem 1rem;
    font-size: 1.2rem;
  }

  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0 16px 16px 16px;
    max-width: 900px;
  }
  &__li {
    width: 250px;
    height: 320px;
  }
  &__bt-delete {
    color: #ffffff;
    padding: 0 16px 26px 16px;
    font-size: 0.7rem;
    float: right;
    margin: auto;
  }
  &__span {
    display: block;
    height: 45px;
  }
}

.render-card {
  transform: scale(0.7);
  transform-origin: top left;
  &--overlay {
    position: absolute;
    width: 338px;
    height: 448px;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    top: 0px;
    left: 0px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 1.2rem;
  }
}

.render-card:hover .render-card--overlay {
  opacity: 1;
  cursor: pointer;
}

.render-card--download, .render-card--delete {
  position: absolute;
  top: -22px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #292727;
  cursor: pointer;
  z-index: 2;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: rgba(105, 105, 105, 0.8);
    color: #ffffff;
  }
}

.render-card--delete {
  right: -15px;
}

.render-card--download {
  right: 28px;
}

