.form-box {
  backdrop-filter: blur(75px); 
  color: #ffffff;
  text-shadow: 1px 1px 4px #1c1c1c41;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.35) 20px 20px 50px 20px;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1rem 0.8rem 1rem;
    font-size: 1.2rem;
  }
  &__arrow {
    background-color: transparent;
    width: 10px;
    height: 10px;
    border: none;
    border: solid rgb(255, 255, 255);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

.form-background {
  padding: 1rem;
  display: flex;
  gap: 20px;
  &__options{
    display: flex;
    gap: 5px;
  }
  &__img {
    display:block;
    width: 120px;
    height: 80px;
    border-radius: 2px;
    background-position: center center;
    background-size: cover;
  }
  &__img--selected {
  box-shadow: rgba(255, 255, 255, 0.4) 0px 1px 5px 3px, rgba(255, 255, 255, 0.4) 0px 0px 5px 4px;
  }
  &__img--bg-1 {
    background-image: url("../images/background-01.jpg");
  }
  &__img--bg-2 {
    background-image: url("../images/background-02.jpg");
  }
  &__img--bg-3 {
    background-image: url("../images/background-03.jpg");
  }
  &__img--bg-4 {
    background-image: url("../images/background-04.jpg");
  }
}

.form {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 1rem;
}

.label {
  margin-top: 1rem;
  font-weight: 600;
  &__picture{
    display: block;
    margin-top: 0.7rem;
    height: 30px;
    line-height: 30px;
    width: 140px;
    border-radius: 4px;
    padding: 0 7px;
    background-color: rgb(138, 191, 58);
    color: #ffffff;
    font-weight: 400;
    text-align: center;
  }
}

.input {
  min-height: 2rem;
  margin: 0.5rem 0;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 3px;
  padding: 5px;
  background-color: #ffffff;
}

.checkbox-box {
  margin: 1rem 0 0.5rem 0;
}

.textarea {
  margin-top: 0.2rem;
  width: 100%;
  display: block;
  resize: none;
  height: 105px;
  text-align: start;
}

.accordion-item {
  margin-bottom: 5px;
}

.accordion {
  &__header {
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: white;
  }
  &__content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.6s ease, padding 0.3s ease;
    padding: 0 10px;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  &__content.active {
    max-height: 1000px;
    padding: 10px;
  }
}


.box-save {
  margin-bottom: 2rem;
  padding: 1rem;
  text-align: center;

  &__button {
    height: 40px;
    width: 100px;
    margin-bottom: 1rem;
    background-color: rgb(184, 153, 95);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
    font-size: 16px;
  }
}